black
isort
ipykernel
jupyter
wheel
-e ./custom/quantstats
git+https://github.com/priyam-gsc/gscbt.git@4c50b4281a7b78fe1594f2aa83f2e1067a486653
git+https://github.com/priyam-gsc/synthetic_builder_py.git
-e .